@media screen and (max-width: 850px) {
    .project{
        width: 100%;
        height: 140vh;
        /* border: 2px solid white; */
    }
    .project_content{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        /* border: 2px solid red; */
    }
    .project_content_left{
        width: 90%;
        height: 50vh;
        margin: auto;
        top: 5%;
    }
    .project_content_right{
        width: 90%;
        height: 50vh;
        margin: auto;
        top: 5%;
        /* border: 1px solid white; */
    }
    .hovering_effect_left h2{
        text-align: center;
        margin-top: 20%;
        font-size: 3rem;
        transition: .9s;
        /* color: white; */
    }
    .project_content_right{
        width: 90%;
        height: 60%;
        margin: auto;
        top: 5%;
    }
}
@media screen and (max-width: 500px) {
    .project{
        width: 100%;
        height: 120vh;
        /* border: 2px solid white; */
    }
    .project_content_left{
        width: 90%;
        height: 40vh;
    }
    .hovering_effect_left h2{
        font-size: 1.5rem;
        margin-top: 25%;
    }
    .project_content_right{
        width: 90%;
        height: 40vh;
        margin-top: -8%;
    }
    .hovering_effect_right h2{
        font-size: 1.5rem;
        margin-top: 25%;
    }
}