@media screen and (max-width: 850px) {
    .services{
        width: 110%;
        height: 310vh;
        margin-top: 10%;
        /* border: 1px solid white; */
    }
    .services_main{
        width: 100%;
        /* height: 100vh; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* gap: 30px; */
    }
    .services_container{
        min-width: 350px;
        min-height: 65vh;
        margin-top: 15%;
        /* background-color: red; */
    }
}
@media screen and (max-width: 500px) {
    .services{
        width: 100%;
        height: 290vh;
        margin-top: -0%;
        /* border: 2px solid white ; */
    }
    .services h1{
        font-size: 3rem;
    }
    .services_main{
        width: 100%;
        height: 235vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        /* border: 2px solid white ; */
    }
    .services_container{
        width: 85%;
        padding-bottom: 80px;
        margin-top: 5%;
        /* background-color: red; */
    } 
    .services_container1{
        margin-top: 35%;
    }
    .services_container i{
        font-size: 3rem;
    }
    .services_container h2{
        margin-top: 20%;
        font-size: 2rem;
    }    
    .services_container p{
        font-size: 1.2rem;
    }
    .services_container button{
        width: 50%;
        height: 8vh;
        font-size: 1.2rem;
        font-weight: 700;
    }
}
