@media screen and (max-width: 850px){
    .skills{
        width: 100%;
        height: 130vh;
        /* border: 1px solid white; */
    }
    .skills_right_top{
        width: 130%;
        height: 30vh;
        /* border: 1px solid white; */
    }
    .skills_right_top_left{
        width: 40%;
        height: 100%;
        /* border: 1px solid white; */
    }
    .skills_right_top_right{
        width: 40%;
        height: 100%;
        /* border: 1px solid white; */
    }
}
@media screen and (max-width: 500px) {
    .skills{
        width: 100%;
        height: 209vh;
        /* border: 2px solid white; */
    }
    .skills_container{
        width: 100%;
        height: 150vh;
        flex-direction: column;
        /* border: 2px solid white ; */
    }
    .skills_container span{
        color: red;
    }
    .skills_left{
        width: 100%;
        height: 110vh;
        /* border: 2px solid white; */
    }
    .skills h2{
        font-size: 2rem;
    }
    .skills_left hr{
        width: 50%;
        margin-left: 25%;
    }
    .skills_left_bottom{
        width: 100%;
        /* border: 2px solid white;    */
    }
    .skills_left_bottom_img{
        margin-left: 5%;
    }
    .skills_left_bottom_img h4{
        font-size: 1.7rem;
    }
    .skills_left_bottom_img hr{
        margin-left: 0%;
    }
    .skills_left_bottom_img1 hr{
        width: 90%;
    }
    .skills_left_bottom_img2 hr{
        width: 90%;
    }
    .skills_left_bottom_img3 hr{
        width: 80%;
    }
    .skills_left_bottom_img4 hr{
        width: 70%;
    }
    .skills_left_bottom_img5 hr{
        width: 70%;
    }
    .skills_left_bottom_img6 hr{
        width: 80%;
    }
    .skills_right{
        width: 100%;
        height: 78vh;
        margin-top: 10%;
        /* border: 2px solid white; */
    }
    .skills_right hr{
        width: 63%;
        margin-left: 18%;
    }
    .skills_right_top{
        width: 100%;
        height: 30vh;
        /* border: 2px solid blue; */
    }
    .skills_right_top_left_top{
        width: 50%;
        height: 15vh;
        margin-left: 35%;
    }
    .skills_right_top_left h3{
        margin-left: 30%;
    }
    .skills_right_top_right_top{
        width: 50%;
        height: 15vh;
    }
    .skills_right_bottom{
        width: 100%;
        height: 30vh;
        margin-top: -0%;
        /* border: 2px solid blue; */
    }
    .skills_right_bottom_left_top{
        width: 50%;
        height: 14vh;
        margin-top: -40%;
        margin-left: 35%;
    }
    .skills_right_bottom_left h3{
        margin-left: 25%;
    }
    .skills_right_bottom_right_top{
        width: 50%;
        height: 14vh;
        margin-top: -40%;
    }
}